.products {
    background-image: url('https://ostrovit.com/data/include/img/news/1628755818.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: white;
    font-size: 60px;
}